.productivite-page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
  color: var(
    --text-dark
  ); /* Utilisation de la variable pour la couleur du texte */
}

.productivite-header {
  text-align: center;
  margin-bottom: 2rem;
}

.productivite-header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.productivite-header p {
  color: var(
    --text-secondary
  ); /* Utilisation de la variable pour le texte secondaire */
}

.productivite-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem;
  width: 100%;
  max-width: 900px; /* Limite la largeur pour une meilleure lisibilité */
  margin: 0 auto;
}

.productivite-card {
  background-color: var(
    --background-dark
  ); /* Utilisation de la variable pour l'arrière-plan */
  padding: 1.5rem;
  text-align: center;
  border: 1px solid var(--border-color); /* Bordure sobre */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
  cursor: pointer;
}

.productivite-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
  background-color: var(--card-hover-bg); /* Couleur de survol */
}

.card-icon-container {
  font-size: 2.5rem;
  color: var(
    --color-primary
  ); /* Utilisation de la variable pour la couleur principale */
  margin-bottom: 1rem;
}

.productivite-card .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.productivite-card .card-description {
  color: var(--text-secondary);
  font-size: 0.9rem;
}
