/* #region NOTIFICATIONS */
.notification-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.notification-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.notification-popup.success {
  background-color: var(
    --accent-success
  ); /* Utilise la variable verte de succès */
  color: var(--color-text-primary); /* Utilise la couleur de texte principale */
  border-color: var(--accent-success);
}

.notification-popup.error {
  background-color: var(
    --accent-danger
  ); /* Utilise la variable rouge d'erreur */
  color: #fff; /* Texte blanc pour une meilleure lisibilité sur fond rouge */
  border-color: var(--accent-danger);
}
/* #endregion */
